.overallCont{
    height: 943px;
    width: 100%;
    background-color: rgba(13, 117, 255, 0.05);
    /* border: 1px solid red; */
}

.petcon {
    padding-top: 200px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid green; */
}

.petcon1{
    color: #0D75FF;
}

.petcon2{
    font-size: 50px;
    color: #344062;
}

.petcon2 span{
    color: #CB2E42;
}

.petcon3{
    color: #344062;
}

.whitecon{
    height: 236px;
    width: 950px;
    /* border: 1px solid rgb(100, 7, 77); */
    background-color: #FFFFFF;
    position: absolute;
    top: 550px;
   
}

.image{
    height: 215px;
}

.selectItems{
    width: 850px;
    height: 64px;
    border-radius: 999px;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-top: 20px;
    background-color:#F8FAFD;
    display: flex;
    justify-content: space-between;
}

form{
    display: flex;
}

.selectItems select{
    width: 170px;
    padding: 10px;
    outline: none;
    border: none;
    color: #8588A3;
    margin-top: 12px;
    background-color:#F8FAFD;
    
}

.locationCon{
    margin-left: 20px;
}

.locationCon img{
    margin-left: 20px;
}

.search{
    height: 64px;
    width: 80px;
    background-color: #0D75FF;
    border-radius: 999px;
    text-align: center;
    padding-top: 20px;
}

.whiteConWriteUp{
    margin: 30px 0 0 60px;
    color: #58667E;
}

.whiteConBox{
    height: 45px;
    width: 79px;
    border-radius: 10px;
    margin: 30px 0 0 60px;
    text-align: center;
    color: #0D75FF;
    display: flex;
    padding: 10px;
    font-weight: 500;
    background-color: rgba(13, 117, 255, 0.05);;
}

.cance{
    margin-left: 10px;
    margin-top: 4px;
}

.smallBoxes{
   display: flex;
   justify-content: flex-end;
   margin-top: 100px;
   

}


