.footerGeneralCon{
    height: 600px;
    background-color:#F3F5FB;
    margin-top: 227px;
    /* border: 1px solid red; */
}

/* .footerGeneralCon > .petlyDiv{
    border: 1px solid blue;

} */

.firstdesign{
    display: flex;
    justify-content: space-between;
}

.secondDesign{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly   ;
    /* border: 1px solid red; */
}

.needHelp h4{
    font-size: 48px;
    color:#58667E;
}
.needHelp span{
    color: #0D75FF;
}

.footerdetails{
height: 39px;
width: 121px;
border-radius: 30px;
background-color: #0D75FF;
text-align: center;
padding: 8px;
color: #FFFFFF;
cursor: pointer;
margin-top: 20px;
}
.lastFooterItem{
    margin-top: 50px;
    /* border: 1px solid magenta; */
}

.contactsCon{
    display: flex;
    color: #616681;
    justify-content: space-around;
}


.contactItems{
    padding-left: 50px;
    margin-bottom: 40px;
    /* border: 1px solid green; */
}



